@using HiddenSolutionsClient.Model
@inherits MaterializeBaseComponent
@inject NavigationManager NavigationManager

<div class="solution-search-item">
    <div class="row no-margin-bottom" style="display: flex; align-items: center; ">
        <div class="col s6">
            <h4>@Solution.Title</h4>
        </div>
        <div class="col s6" style="display: flex;flex-direction: column; align-items: flex-end ">
            <div >@Solution.CreatedAt.ToShortDateString()</div>
            <div >@Solution.UpdatedAt.ToShortDateString()</div>
        </div>
    </div>
    <div class="row no-margin-bottom">
        <div class="col">
         @foreach (Tag tag in Solution.Tags)
         {
             <div class="chip">
                 @tag.Value
             </div>
         }

</div>
    </div>
    <div class="row no-margin-bottom">
        <div class="col s10">
<p>        @Solution.ProblemDescription
</p>

</div>
<div class="col s2" style="display:flex; justify-content: flex-end;">
    <button class="waves-effect waves-teal btn-flat" @onclick="NavigateToDetails"><i class="material-icons">pageview</i></button>
</div>
    </div>
</div>

@code{
    [Parameter]
    public SolutionModel Solution { get; set; }

    public void NavigateToDetails()
    {
        NavigationManager.NavigateTo($"solution/{Solution.Id}");
    }
}