@page "/search"
@page "/search/{searchQuery}"
@using System.Collections
@using HiddenSolutionsClient.Components
@using HiddenSolutionsClient.Model
@using HiddenSolutionsClient.Service
@using Microsoft.AspNetCore.Mvc.RazorPages
@inject SolutionService SolutionService
@inject SearchService SearchService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<Header></Header>
<div class="container" style="height: 80%">
    <div class="row no-margin-bottom">
        <h1>Search</h1>
        <div style="display: flex;">
            <div class="input-field" style="width:100%;">
                <input id="search" name="search" type="text" placeholder="What are you searching for?"/>
            </div>
            <button style="width:15%;" type="submit" id="search-btn" name="search-btn" class="btn-large waves-effect waves-light"><i class="material-icons left">search</i> Search</button>
        </div>
    </div>

    @if (IsLoading)
    {
            <h2>Loading ...</h2>
            }
    
    @if
        (!IsLoading && !SolutionsExist)
    {
        <h2>No Results found.</h2>
    }
    
    @if (!IsLoading && SolutionsExist)
    {
        <div class="row no-margin-bottom" style="display:flex; justify-content: space-between; align-items: flex-end; ">
            <h2>Results</h2>
            <div style="display:flex; justify-content: flex-end; align-items: center; width: 100%;">
                <div class="input-field" style="padding-right: 1%">
                    <select multiple="multiple" @ref="categorySelectElement" @onchange="OnCategoryFilterChanged">
                        @* <option value="" disabled selected>Choose Categories</option> *@
                        @foreach (Category category in Categories)
                        {
                            <option value="@category.Name">@category.Name</option>
                        }
                    </select>
                    <label>Categories</label>
                </div>
                <div class="input-field" style="padding-right: 1%">
                    <select multiple="multiple" @ref="tagSelectElement" @onchange="OnTagFilterChanged">
                        @* <option value="" disabled selected>Choose Tags</option> *@
                        @foreach (Tag tag in Tags)
                        {
                            <option value="@tag.Value">@tag.Value</option>
                        }
                    </select>
                    <label>Tags</label>
                </div>
                <div>
                    <p style="margin-left: auto">Showing @SolutionsToDisplay.Count of @Solutions.Count </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row no-margin-bottom">
            @if (SolutionsToDisplay.Count > 0)
            {
                for (int i = 0; i < ResultsPerPage && i < SolutionsToDisplay.Count; i++)
                {
                    SolutionModel solution = SolutionsToDisplay[i];
                    <SolutionSearchItem id="@solution.Title" Solution="@solution"></SolutionSearchItem>
                }
            }



        </div>
   
    }
    <div class="row" style="display:flex; justify-content: flex-end; margin-top: 2%;">
        <MaterializeSelectComponent Label="Results per page" Options="@ResultsPerPageOptions" Placeholder="5" SelectedValueChanged="@OnResultsPerPageChanged"></MaterializeSelectComponent>


        <ul class="pagination">

            <li class="disabled">
                <a href="#!">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            @for (int i = 0; i < PagesCount; i++)
            {
                int pageNumber = i + 1;
                if (i == 0)
                {
                    <li class="active">
                        <a @onclick="@(() => OnPageNumberClicked(pageNumber))">@pageNumber</a>
                    </li>
                }
                else
                {
                    <li class="waves-effect">
                        <a @onclick="@(() => OnPageNumberClicked(pageNumber))">@pageNumber</a>
                    </li>
                }
            }
            <li class="waves-effect">
                <a href="#!">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    </div>
    <button class="waves-effect waves-teal btn-flat" @onclick="NavigateToHome">
        <i class="material-icons medium">arrow_back</i>
    </button>
</div>

@code
{

    [Parameter]
    public string SearchQuery { get; set; }

    private ElementReference categorySelectElement;
    private ElementReference tagSelectElement;

    public IList<KeyValuePair<string, string>> ResultsPerPageOptions { get; set; } = new List<KeyValuePair<string, string>>()
    {
        new KeyValuePair<string, string>("5", "5"),
        new KeyValuePair<string, string>("10", "10"),
        new KeyValuePair<string, string>("20", "20"),
        new KeyValuePair<string, string>("30", "30"),
        new KeyValuePair<string, string>("50", "50"),
    };

    public int ResultsPerPage { get; set; } = 5;
    public int ResultCount { get; set; }
    public int PagesCount { get; set; }

    private IList<SolutionModel> Solutions { get; set; } = new List<SolutionModel>();
    public IList<SolutionModel> SolutionsToDisplay { get; set; } = new List<SolutionModel>();
    public IList<Category> Categories { get; set; } = new List<Category>();
    public IList<Tag> Tags { get; set; } = new List<Tag>();
    public IList<string> SelectedTags { get; set; } = new List<string>();
    public IList<string> SelectedCategories { get; set; } = new List<string>();
    public bool IsLoading { get; set; } = true;
    public bool SolutionsExist { get; set; }


    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(SearchQuery))
        {
            Solutions = await SolutionService.GetAllSolutions();
        }
        else
        {
            Solutions = await SearchService.Search(SearchQuery);
        }

        if (Solutions != null && Solutions.Count > 0)
        {
            SolutionsExist = true;
            SolutionsToDisplay = Solutions.ToList();
    // TODO
            Categories = SolutionsToDisplay
                .Select(p_solution => p_solution.Category)
                .GroupBy(p_category => p_category.Name)
                .Select(p_categoryGroup => p_categoryGroup.First())
                .ToList();
            Tags = SolutionsToDisplay
                .SelectMany(p_solution => p_solution.Tags)
                .GroupBy(p_tag => p_tag.Value)
                .Select(p_tagGroup => p_tagGroup.First())
                .ToList();
            ResultCount = Solutions.Count;
            PagesCount = ResultCount / ResultsPerPage;
        }
        else
        {
            Solutions = new List<SolutionModel>();
        }
        
        IsLoading = false;
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("materializeHelpers.initMaterialize", null);
    }

    private void OnResultsPerPageChanged(string p_resultsPerPage)
    {
        if (int.Parse(p_resultsPerPage) > ResultCount)
        {
            ResultsPerPage = ResultCount;
        }
        else
        {
            ResultsPerPage = int.Parse(p_resultsPerPage);
        }
    // PagesCount = (ResultCount + ResultsPerPage - 1) / ResultsPerPage;
        PagesCount = ResultCount / ResultsPerPage;
    }

    private int OnPageNumberClicked(int pageNumber)
    {
        if (pageNumber > 1)
        {
            SolutionsToDisplay = Solutions.Skip(ResultsPerPage * (pageNumber - 1)).ToList();
            ResultCount = Solutions.Count;
        }
        else
        {
            SolutionsToDisplay = Solutions.ToList();
        }
        return pageNumber;
    }

    public void NavigateToHome()
    {
        NavigationManager.NavigateTo("/home");
    }

    public async Task OnCategoryFilterChanged(ChangeEventArgs p_eventArgs)
    {
        SelectedCategories = await GetAllSelectedCategories();
        UpdateSolutionsToDisplay();
    }


    public async Task OnTagFilterChanged(ChangeEventArgs p_eventArgs)
    {
        SelectedTags = await GetAllSelectedTags();
        UpdateSolutionsToDisplay();
    }

    public void UpdateSolutionsToDisplay()
    {
        SolutionsToDisplay = Solutions.ToList();

        if (SelectedTags.Count > 0)
        {
            SolutionsToDisplay = SolutionsToDisplay.Where(p_solution => SelectedTags.Any(p_tag => p_solution.Tags.Select(p_tag => p_tag.Value).ToList().Contains(p_tag))).ToList();
        }

        if (SelectedCategories.Count > 0)
        {
            SolutionsToDisplay = SolutionsToDisplay.Where(p_solution => SelectedCategories.Contains(p_solution.Category.Name)).ToList();
        }
    }

    public async Task<List<string>> GetAllSelectedCategories()
    {
        return (await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", categorySelectElement)).ToList();
    }

    public async Task<List<string>> GetAllSelectedTags()
    {
        return (await JSRuntime.InvokeAsync<List<string>>("getSelectedValues", tagSelectElement)).ToList();
    }
}